.backbutton {
  position: absolute;
  top: 450px;
  right: -10vh;
  background-image: url(https://i.imgur.com/s0REexw.png);
  background-size: cover;
  width: 300px;
  height: 100px;
  -webkit-animation-duration: 10s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
}

.nextbutton {
  position: absolute;
  top: 450px;
  left: -10vh;
  background-image: url(https://i.imgur.com/x1Ow1Pc.png);
  background-size: cover;
  width: 300px;
  height: 100px;
  -webkit-animation-duration: 10s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
}

.fontquestion {
  font-family: 'Gaegu', cursive;
  color: whitesmoke;
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.answers {
  position: absolute;
  left: 35vh;
  padding-top: 30px;
  color: white;
  font-family: 'Special Elite', cursive;
  font-size: 1.4em;
}

.background {
  background-image: url(https://i.imgur.com/qKYbjQb.jpg);
  background-size: cover;
  height: 100vh;
}
