.btn {
    padding: 20px;
    width: 500px;
    height: 100px;
    }
    .startbtn {
      position: absolute;
      left: 600px;
      padding: 20px;
    }
    * { box-sizing: border-box; }
    .video-background {
     background: rgb(255, 255, 255);
     position: fixed;
     top: 0; right: 0; bottom: 0; left: 0;
     z-index: -99px;
    }
    .video-foreground,
    .video-background iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     pointer-events: none;
    }
    #vidtop-content {
        top: 0;
        color: #fff;
    }
    .quizTitle{
        color: white;
        font-family: 'Creepster', cursive;
        font-size: 4em;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
    .startFont{
        font-size: 50px;
    }
    .bg-cover{
        background-color: #77777727;
        width: 630px;
        position: absolute;
        top: 160px;
        left: 430px;
        padding: 20px 30px;
    }
    
    @media (min-aspect-ratio: 16/9) {
     .video-foreground { height: 300%; top: -100%; }
    }
    @media (max-aspect-ratio: 16/9) {
     .video-foreground { width: 300%; left: -100%; }
    }
    @media all and (max-width: 600px) {
    .vid-info { width: 50%; padding: .5rem; }
    .vid-info h1 { margin-bottom: .2rem; }
    }
    @media all and (max-width: 500px) {
    .vid-info .acronym { display: none; }
    }