<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="video-background">
        <div class="video-foreground">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/gBoZYUgh9rM?mute=1&autoplay=1&loop=1&playlist=gBoZYUgh9rM"
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>

      <div class="bg-cover">
        <h1>ZOMBIE APOCALYPSE QUIZ!!!</h1>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <button type="button" class="btn btn-outline-warning" routerLink="/question/1"> Strong
                <i class="fas fa-walking"></i>
                <p>Start the Quiz</p>
              </button>
              <br>
              <button type="button" class="btn btn-outline-warning"> Weak
                <i class="fas fa-walking"></i>
                <p>No I don't want to take the quiz</p>
              </button>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <button class="btn btn-primary" routerLink="/question/1">Start</button> -->
